body {
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: black;
  background-color: aliceblue;
}
.navbar {
  display: flex;
  justify-content: space-between;
  background: lightblue;
  padding: 1rem;
}
.nav-btn {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.nav-btn:hover {
  color: blue;
  font-size: large;
}
.wrapper {
  margin: 5% 5%;
}
h1 {
  font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
}
ul.navbar li {
  background: white;
  margin: 0.5em 0;
  padding: 0.3em;
  border-right: 1em solid black;
}
ul.navbar li:hover {
  border-right: 1.5em solid black;
  background: lightgrey;
}

.btn-index {
  display: flex;
  justify-content: space-evenly;
}

.index-btn {
  text-decoration: none;
  color: darkblue;
  padding-bottom: 0.5em;
  width: max-content;
}

.index-btn:hover {
  color: blue;
}

.index-list {
  display: flex;
  flex-direction: column;
}

.bold {
  font-weight: bold;
}
