  body {
    margin: 0;
   font-family: Georgia, "Times New Roman",
          Times, serif;
		  color: black;
    background-color: white }
.navbar {
  display: flex;
  justify-content: space-between;
  background: lightblue;
  padding: 1rem;
}
.nav-btn{
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.nav-btn:hover{
  color: blue;
  font-size: large;
}
.wrapper {
  margin: 5% 4% 5% 4%;
}
	h1 {
    font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif }
		ul.navbar li {
    background: white;
    margin: 0.5em 0;
    padding: 0.3em;
    border-right: 1em solid black }
    ul.navbar li:hover {
      border-right: 1.5em solid black;
      background: lightgrey;
    }
  /* a:link {
    color: blue }
  a:visited {
    color: purple } */
	/* address {
    margin-top: 1em;
    padding-top: 1em;
    border-top: thin dotted } */